In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'seyilaw1'
)
mycursor = mydb.cursor()

In [4]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('accesswayprimebank',)
('employeemanagementsystem',)
('footballmanagementsystem',)
('greenwayschoolmanagementsystem',)
('information_schema',)
('mysql',)
('packwaystore',)
('performance_schema',)
('sakila',)
('schoolmanagementsystem',)
('schoolrecordmanagementsystem',)
('shoprise',)
('studentmanagementsystem',)
('sys',)
('world',)

In [5]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'seyilaw1',
    database='packwaystore'
)
mycursor = mydb.cursor()

In [9]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('itemdetails',)

In [8]:
mycursor.execute('alter table itemrecords rename to itemdetails')

0

In [10]:
sql = 'insert into itemdetails(ITEMID,ITEMNAME,ITEMCATEGORY,ITEMSUBCATEGORY,ITEMCONDITION,ITEMSUPPLYDATE,ITEMQUANTITY,ITEMPRICE) values(%s,%s,%s,%s,%s,%s,%s,%s)'

val = [(10,'LENOVO THINKPAD','ELECTRONICS','LAPTOP','FRAGILE','2021-12-28',30,850000.00),
       (11,'W2 EARBUD','ELECTRONICS','ACCESSORIES','FRAGILE','2022-11-15',150,6500.00),
       (12,'PLAY STATION X','ELECTRONICS','GAMING','FRAGILE','2021-03-05',20,150000.00)]
mycursor.executemany(sql,val)
mydb.commit()

In [11]:
mycursor.execute('select * from itemdetails')
for x in mycursor:
    print(x)

(1, 'LG AIR CONDITION', 'ELECTRONICS', 'AIR CONDITION', 'FRAGILE', datetime.date(2021, 5, 26), 50, 200000.0)
(2, 'TECNO SPARK 9T', 'MOBILE PHONES', 'ANDRIORD', 'FRAGILE', datetime.date(2022, 3, 25), 45, 145000.0)
(3, 'MEN GUCCI SHOE', 'WEARS', 'MEN WEARS', 'NON-FRAGILE', datetime.date(2019, 8, 25), 20, 50000.0)
(4, 'IPHONE 14', 'MOBILE PHONES', 'IOS', 'FRAGILE', datetime.date(2022, 1, 15), 80, 1500000.0)
(5, 'HISENES OVEN', 'ELECTRONICS', 'KITCHEN EQUIPMENT', 'FRAGILE', datetime.date(2021, 12, 22), 5, 300001.0)
(6, 'PLAY STATION 5', 'ELECTRONICS', 'GAMING', 'FRAGILE', datetime.date(2021, 12, 25), 25, 600000.0)
(7, 'WESTER WIRELESS PAD', 'ELECTRONICS', 'GAMING', 'FRAGILE', datetime.date(2022, 3, 15), 100, 8000.25)
(8, 'SWEET MAMA 50KG RICE', 'FOOD AND OTHERS', 'RAW ITEM', 'PERISHABLE', datetime.date(2021, 12, 15), 45, 50000.0)
(9, 'FLEXIBLE READING TABLE', 'WOODING EQUIPMENT', 'TABLE', 'NON FRAGILE', datetime.date(2020, 10, 28), 55, 45000.0)
(10, 'LENOVO THINKPAD', 'ELECTRONICS', 'LAPTOP', 'FRAGILE', datetime.date(2021, 12, 28), 30, 850000.0)
(11, 'W2 EARBUD', 'ELECTRONICS', 'ACCESSORIES', 'FRAGILE', datetime.date(2022, 11, 15), 150, 6500.0)
(12, 'PLAY STATION X', 'ELECTRONICS', 'GAMING', 'FRAGILE', datetime.date(2021, 3, 5), 20, 150000.0)